*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 30vw;
    height: 80vh;
    object-fit: cover;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 30vw;
    height: 80vh;
}

.img-container-eiffel-tower-before, 
.img-container-eiffel-tower-after {
    position: absolute;
    width: 30vw;
    height: 80vh;
}

.img-container-eiffel-tower-before {
    width: 15vw;
    overflow: hidden;
}